@media screen and (max-width: 1200px) {
p{
    font:normal;
}
}


html{

    background: linear-gradient(90deg, #000000, #015135, #24ba54);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}

h1{

    text-align:right;
    text-align: center;
    width: 1000px;
    margin-left: 300px;
    margin-top: 100px;  
    color: aliceblue;
    text-shadow: 6px 6px 15px black;

}

h1:hover{

    color: azure;
    font-weight: bolder;
    text-decoration: underline;
}

.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

h2{

    text-align: right;
    font-size: 80px;
    margin-right: 90px;
    margin-bottom: 20px;
    color: aliceblue;


}




.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}

.container1 {

    color: aliceblue;
    text-align: left;
    margin-left: 520px;
    font-size: 25px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: italic;

}

.container2 {

    margin-top: -1000px;    
    background-attachment: fixed;
    margin-left: -50px;
    width: 550px;
    height: 1100px;
    size: 15em;
    background-image:url(images/green.jpg);
    background-size: 1000px;
    opacity: 1;
    
}


a:hover{

    color: greenyellow;

}

a:active{

    color: rgb(255, 255, 255);

}

.container1:hover{

    opacity: .8;
    text-decoration: underline;

}


a{

color: aqua;
stroke: #000000;
stroke-width: 100px;

}

h2:hover{

    font-weight: bold;
    opacity: .7;
    text-decoration: underline;

}

.container3{

    text-align: center;
    width: 820px;
    text-align: center;
    margin-left: 500px;
    margin-top: -80px;
    font-size: x-large;
    background-color: rgba(240, 248, 255, 0);
    word-spacing: 10px;
    text-decoration: none;
    font-family: "Sekuya", system-ui;
    font-weight: lighter;


}

.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}


.container4{

    width: 1200px;

}